@model Models.OpenModule
@if (Model.Show)
{
    Html.AppendScriptParts(Plugin.Location + "Script/Default.js");

    <div class="buttons">
        <input type="button" value="@T(ResourceCollection.Key.OpenModuleButton.Text)" class="button-2 product-box-add-to-cart-button" onclick="soft2print.openModule.actions.open('@Model.Url');" />
    </div>
}